.propos {
    margin-left: 120px;
    margin-right: 120px;
}

.collapseElements {
    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    .collapse {
        width: 1023px;
    }
}
