$maincolor: #ff6060;

.page {
    margin: 60px 120px 50px 120px;

    &__carousel {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 415px;
        position: relative;
    }

    &__property {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;

        &--text {
            .title {
                color: $maincolor;
                font-size: 36px;
                font-weight: 500;
                margin: 0;
            }
            .location {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
            }
            .tags {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                gap: 10px;

                .tag {
                    color: white;
                    text-align: center;
                    padding: 5px 15px 5px 15px;
                    min-width: 100px;
                    border-radius: 10px;
                    background-color: $maincolor;
                }
            }
        }

        &--specifics {
            display: flex;
            flex-direction: column;
            .host {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                .name {
                    text-align: end;
                    color: $maincolor;
                    font-size: 18px;
                    max-width: 93px;
                }
                .picture {
                    width: 64px;
                    height: 64px;
                    clip-path: circle(50%);
                }
            }
            .ratings {
                display: flex;
                justify-content: end;
                gap: 10px;

                .fa-star {
                    font-size: 24px;
                }
                .colored {
                    color: $maincolor;
                }
                .noColor {
                    color: #e3e3e3;
                }
            }
        }
    }

    &__collapseElements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .collapse {
            width: 45%;
        }
    }
}

@media (max-width: 1024px) {
    .page {
        margin: 60px 25px 50px 25px;

        &__property {
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 5px;

            &--text {
                .title {
                    font-size: 28px;
                }
                .location {
                    margin-top: 15px;
                }
                .tags {
                    margin-top: 10px;
                    flex-wrap: wrap;
                }
            }
            &--specifics {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;

                .host {
                    .picture {
                        width: 50px;
                        height: 50px;
                    }
                }
                .ratings {
                    .fa-star {
                        font-size: 20px;
                    }
                }
            }
        }
        &__collapseElements {
            flex-direction: column;
            gap: 35px;

            .collapse {
                width: 100%;
            }
        }
    }
}
