.page {
    margin: 60px 80px 50px 80px;

    &__carousel {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 600px;

        img {
            border-radius: 25px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__text {
        .title {
            color: #ff6060;
            font-size: 36px;
            font-weight: 500;
        }
    }

    &__collapseElements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .collapse {
            width: 800px;
        }
    }
}
