.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 120px 50px 120px;
}

.navbar {
    display: flex;
    gap: 40px;

    a {
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 500;
    }

    .active {
        text-decoration: underline;
    }
}

@media (max-width: 1024px) {
    .header {
        margin: 30px 25px 50px 25px;

        img {
            width: 145px;
        }
    }

    .navbar {
        gap: 30px;
        a {
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}
